//Home screen style Sheet

.root{
	-fx-background-color: Black;
}

.button{
	-fx-background-color: #3aa9b8;
	-fx-text-fill: white;
	-fx-font-size: 36pt;
}

.text{
	-fx-font-family: "times new roman";
}
